<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>peanutbuttervibes - $title$</title>
        <link rel="stylesheet" href="/assets/css/default.css" />
        <link rel="stylesheet" href="/assets/katex/katex.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">
                    <nobr>
                        <strong style="color: #7FCA89;">peanut</strong><span
                            style="color: #966DB3;">butter</span><strong
                            style="color: #FA939F">vibes</strong>
                    </nobr>
                </a>
            </div>
            <nav>
                <!--<a href="/">Home</a>-->
                <!--<a href="/about.html">About</a>-->
                <!--<a href="/contact.html">Contact</a>-->
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>
    </body>
</html>
